body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #000000;
    
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    color: #ffffff;
}

a {
    text-decoration: none;    
}

button {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;

    background-color: #fb565a;
}

button:hover,
button:focus {
    background-color: #e74246;
    outline: none;
}

button:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.main-navigation {
    text-transform: uppercase;
    line-height: 1.88;
    color: #000000;

    background-color: #eeeeee;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation a {
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
  outline: none;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
