/*общий стиль страниц*/
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    
    background-color: #ffffff;
}

/*скрытые тэги*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    color: #ffffff;
}

/*общая стилистика ссылок*/
a {
    text-decoration: none; 
}
a:visited {
    color: #000000;
    text-decoration: none; 
}

/*общая стилистика кнопок*/
button {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 1.13;

    background-color: #fb565a;
}

/*поведение кнопок при взаимодействии*/
button:hover,
button:focus {
    background-color: #e74246;
    outline: none;
}

button:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

/*стилизация навигации*/
.main-navigation {
    display: flex;
    flex-direction: row; 

    text-transform: uppercase;
    line-height: 1.88;
    color: #000000;
    
    min-height: 132px;
    width: auto;
    background-color: #eeeeee;
    padding-bottom: 0px;
}

.main-navigation li {
    list-style: none;
}

.main-header-logo {
    padding-top: 49px;
    padding-left: 140px;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    
    width: 438px;
    padding-top: 83px;
    padding-left: 202px;
    padding-right: 245px;
    min-width: 10px;
    margin: 0px;
}

.site-navigation :nth-child(1) {
    width: 61px;
    height: 15px;
    padding-right: 47px;
}
.site-navigation :nth-child(2){
    width: 76px;
    height: 16px;
    padding-right: 48px;
}
.site-navigation :nth-child(3){
    width: 75px;
    height: 13px;
    padding-right: 45px;
}
.site-navigation :nth-child(4){
    width: 86px;
    height: 13px;
    padding-right: 0px;
}

.main-cart {
    display: flex;
    flex-direction: row;

    padding-top: 83px;
    padding-left: 0px;
    margin: 0px;
}

.main-cart li {
    width: 115px;
    height: 13px;
}


.main-cart img {
    padding-right: 15px;
    opacity: 0.3;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
  outline: none;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*стилизация блока с слайдером*/
.slogan-section {
    background-color: #eeeeee; 
}

.slogan-section figure {
    border: 1px solid #ffffff;
    background-color: grey;
}

.slogan-section h3 {
    font-size: 55px;
    line-height: 1;
    text-align: left;
}

.slogan-section p {
    line-height: 1.5;
    text-align: left;
}

.slogan-section ul {
    list-style: none;
}

.order-section h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 1.25;
    text-transform: uppercase;
}

.order-apps button {
    background-color: #00ca74;
}

.order-apps button:hover,
.order-apps button:focus {
    background-color: #00bc6c;
}

.order-apps button:active {
    background-color: #00aa62;
}


.order-presentations button{ 
    background-color: #efc84a;
}

.order-presentations button:hover,
.order-presentations button:focus {
    background-color: #eab534;
}

.order-presentations button:active {
    background-color: #e5a722;
}

.description-company {
    color: #283136;
}

.description-company h3 {
    line-height: 1;
    font-size: 45px;
    color: #000000;
}

.description-company .list-works {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.features-company h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.features-company ul {
    list-style: none;
}

.features-company p {
    line-height: 1.13;
    color: #283136;
}

.features-company span {
    line-height: 0.22;
    font-size: 45px;
    font-weight: bold;
}

.links-partners li {
    list-style: none;
}
.links-partners a {
    opacity: 0.2;
}

.links-partners a:hover,
.links-partners a:focus {
    outline: none;
    opacity: 1;
}

.links-partners a:active {
    outline: none;
    opacity: 0.1;
}

/*скрыл форму*/
.contact-form {
    display: none;
}

.contact-description h3 {
    font-size: 18px;
    line-height: 1.67;
    font-weight: bold;
}

.contact-description p {
    font-size: 16px;
    line-height: 1.13;
    color: #666666;
}

.site-footer ul {
    list-style: none;
}

.site-footer h3 {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
}

.site-footer p {
    line-height: 1.38;
    color: #444444;
}

.site-footer a {
    display: block;
    height: 79px;
    width: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.site-footer a:hover,
.site-footer a:focus {
    background-color: #e74246;
    outline: none;
}

.site-footer a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    outline: none;
}

/*стилизация каталога*/
.site-navigation :nth-child(3) span{
    padding-bottom: 12px;
    padding-right: 0;
    width: 74px;
    border-bottom: 2px solid #fb565a
}



.catalog-name {
    background-color: #eeeeee;
}

.catalog-name h1 {
    font-size: 55px;
    line-height: 1;
    text-align: center;
}

.filtration-form legend {
    font-size: 18px;
    line-height: 1.67;
    font-weight: bold;
    text-transform: uppercase;
}

.filtration-form ul {
    list-style: none;
}

.price-range-field{
    line-height: 1.38;
    text-transform: uppercase;
}

.price-range-field output {
    text-align: center;
    display: block;
    width: 60px;
    background-color: #eeeeee;
}

.price-range-slider {
    width: 160px;
    background-color: #eeeeee;
}

.sort-range-field  {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
}

.sort-range-field legend {
    line-height: 1;
}


/*поведение фильтров*/

fieldset label {
    color: rgba(0, 0, 0);
    opacity: 0.2;
}

fieldset input:hover + label,
fieldset input:focus + label{
    color: rgba(0, 0, 0);
    opacity: 0.6;
}

fieldset input:active + label,
fieldset input:checked + label{
    color: #000000;
    opacity: 1;
}


/*стилизация списка товаров*/

.select-grid-field li,
.select-benefits-field li {
    font-size: 16px;
    line-height: 1.25;
    color: #283136;
}

.product-catalog {
    text-align: center;
    list-style: none;
}

.product-catalog h3{
    text-transform: uppercase;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.product-catalog h3:hover,
.product-catalog h3:focus {
    color: #fb565a;
}

.product-catalog h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.product-catalog p{
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.product-catalog .item-header{
    opacity: 0.12;
}